* {
  margin: 0;
  padding: 0;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #646cff;
  border-radius: 5px;
  padding: 20px;
  width: 97.5%;
  margin: 15px 0px;
}

.form input {
  width: 96%;
  padding: 10px;
  margin: 5px 0px;

  background: transparent;
  color: black;
  border: 1px solid #646cff;
  border-radius: 5px;
}

.form button {
  margin: 10px 0px;
}
